$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

a {
  color: white;
  font-weight: 800;
}

a:hover {
  color: gray;
  font-weight: 800;
  text-decoration: underline
}

header {
  background-image: url('https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/workingbg.jpg');
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 220px 0;
  margin: 0;
}

section {
  color: #bbb;
  padding: 100px 0;
}

.textbox {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
}

.textbox .btn {
  margin: 10px 10px 30px 0;
}

 section img {
   box-shadow: 0px 1px 20px 15px rgba(0, 0, 0, 0.3);
   margin: 40px 0;
 }
