doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title webapp
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.affix-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top') Start Bootstrap
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#portfolio') Portfolio
            li
              a.page-scroll(href='#contact') Contact
    header
      p Michael Perkhofer <small>Full Stack developer</small>
      .jumbotron
        h1 Michael Perkhofer
        p.lead Full Stack Developer
    section#quotemachine
      .container-fluid
        .col-lg-4.col-sm-6.textbox
          h1 Random Quote machine
          p
            | Displays quotes from the&nbsp;
            a(href='http://www.imdb.com/chart/top', target='_blank') top 250 IMDb movies
            |  and presents them in combination with images from&nbsp;
            a(href='https://www.themoviedb.org/', target='_blank') TMDb
            | .
            br
            a.btn.btn-primary(href="https://github.com/mperkh/imdbquotes", target='_blank') Source
            a.btn.btn-primary(href="http://codepen.io/mperkh/full/pJmJOM", target='_blank') Try it
        .col-lg-8.col-sm-6
          img(src='https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/quotemachine03.jpg', class="img-responsive img-rounded")
    section#localweather
      .container-fluid
        .col-lg-4.col-sm-6.textbox
          h1 Show the local weather
          p
            | It displays quotes from the
            a(href='http://www.imdb.com/chart/top', target='_blank') top 250 IMDb movies
            |  and presents them in combination with images from
            a(href='https://www.themoviedb.org/', target='_blank') TMDb
            | .
        .col-lg-8.col-sm-6
          img(src='https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/weather.png', class="img-responsive img-rounded")
    section#calculator
      .container-fluid
        .col-lg-4.col-sm-6.textbox
          h1 Calculator
          p
            | It displays quotes from the
            a(href='http://www.imdb.com/chart/top', target='_blank') top 250 IMDb movies
            | and presents them in combination with images from
            a(href='https://www.themoviedb.org/', target='_blank') TMDb
            | .
        .col-lg-8.col-sm-6
          img(src='https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/calculator.gif', class="img-responsive img-rounded")
    section#simon
      .container-fluid
        .col-lg-4.col-sm-6.textbox
          h1 Simons's Game
          p
            | It displays quotes from the
            a(href='http://www.imdb.com/chart/top', target='_blank') top 250 IMDb movies
            | and presents them in combination with images from
            a(href='https://www.themoviedb.org/', target='_blank') TMDb
            | .
        .col-lg-8.col-sm-6
          img(src='https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/simon.png', class="img-responsive img-rounded")
    section#tictactoe
      .container-fluid
        .col-lg-4.col-sm-6.textbox
          h1 Tic Tac Toe
          p
            | It displays quotes from the
            a(href='http://www.imdb.com/chart/top', target='_blank') top 250 IMDb movies
            | and presents them in combination with images from
            a(href='https://www.themoviedb.org/', target='_blank') TMDb
            | .
        .col-lg-8.col-sm-6
          img(src='https://s3.amazonaws.com/f623f793d321325d3de5c7f6ff91528-default/fcc/portfolio/tictac.png', class="img-responsive img-rounded")
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
